



/*
$colorUno:#bcbfc3;
$colorDos:#667278;
$colorTres:#2a3942;
$colorCuatro:#0c0c0e;
$colorCinco:#000;

$colorUno:#e7ecef;
$colorDos:#a2b4c1;
$colorTres:#456983;
$colorCuatro:#003155;
$colorCinco:#060c10;
*/

body{
	background: #fff;
	font-family: sans-serif;
}
/*-------BARRA LATERAL------*/
.info{
	background: $colorUno;
}
.barra-lateral{
	background: $colorCuatro;
	min-width: 200px;
	min-height: 100vh;
	padding: 0px;
}
.barraHorizontalDos{
	color: #fff;
	padding: 5px;
	background: $colorTres;
}

 .logo{
	background: $colorCinco;
	color: #fff;
	display: block;
	width: 100%;
	margin:0px;
	text-align: center;
	padding: 0 20px 20px 20px;
}

.barra-lateral nav{
	padding: 0px;
	margin: 0px;
}
.barra-lateral nav ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.barra-lateral nav ul li .botonBarraNavegacion, .notificaciones{
	color: #fff;
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 10px 10px 10px 50px;
	margin: 0px;	
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 20px
}
.dropdown-item i,
.barraHorizontalDos a{
	text-decoration: none;
	color: #fff;
}

.border2{
	border-bottom: 1px solid rgba(255,255,255,0.3);	
}



.dropdown-item:hover, .barra-lateral nav a:hover, .barra-lateral nav a:active{
	color: #fff;
	background: $colorDos;
}
.dropdown-menu{
	background: $colorCuatro;
	border-radius:0px;	
	border: none;
}
.dropdown-item{
	color: #fff;
	width: 100%;
	background: $colorCinco;
	padding: 10px;
}
thead{
	background: $colorCuatro;
	color: #fff;
}
input{
	background: #f2f2f2;
	box-shadow: 2px 2px 1px rgba(0,0,0,.6);
	border: none;
}
label{
	margin: 0px;

}

/*---MEDIA QUERY-----*/

@media screen and (max-width: 992px){
	.barra-lateral {
		min-width: auto;
	}
	.barra-lateral .logo{
		display: none;
	}
	.barra-lateral nav a span{
		display: none;
	}

	.barra-lateral a i{
		margin: 0px;
	}

}



@media screen and (max-width: 575px) {
	.barra-lateral {
		min-height: auto;
		margin-bottom: 20px;
	}

	.barra-lateral nav ul li .botonBarraNavegacion{
		display: inline-block;
		width: auto;
	}

	.barraHorizontalDos{
		display: none;
	} 
	
	.notificacione{
		display: inline-block;
		
	}
	.barra-lateral nav ul li {
		width: auto
	}
	.dropdown-item{
		width: 100%;
	}
	 nav ul li a i{
	margin-right: 10px;
}

}