$colorUno:#7093a7;
$colorDos:#5b7284;
$colorTres:#3b4d5b;
$colorCuatro:#1f2f3c;
$colorCinco:#3b4d5b49;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

